

/*font-family: 'Fira Sans', sans-serif;*/

nav {
  text-align: left;
}

h1.home {
  text-align: center;
  font-family: 'Fira Sans', sans-serif;
}

h3 {
  color: black;
  font-family: 'Fira Sans', sans-serif;
  text-align: center;
}

h4.employers {
  margin-top: 0;
  margin-bottom: 0;
}

ul.education{
  list-style-type:none;
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
  font-family: 'Fira Sans', sans-serif;
}

ul.employer_info{
  list-style-type:none;
  text-align: left;
  margin-left: 20%;
  margin-right: 20%;
  font-family: 'Fira Sans', sans-serif;
}

article{
  text-align: left;
  font-family: 'Fira Sans', sans-serif;
  margin-left: 20%;
  margin-right: 20%;
}

a:link {
  color: #0646B2;
}
a:visited{
  color: #416EF7;
}

p{
  text-align: center;
  font-family: 'Fira Sans', sans-serif;
}


p.employers { 
  color: black;
  text-indent: 20px;
  margin-top: 0;
  margin-bottom: 0;
  text-align: left;
  font-family: 'Fira Sans', sans-serif;
}

p.about_info{
  text-indent: 20px;
  text-align: left;
  margin-left: 15%;
  margin-right: 15%;
  font-family: 'Fira Sans', sans-serif;
}


p.career_obj_info{
  text-align: center;
  font-family: 'Fira Sans', sans-serif;
}

p.skills_info{
  text-align: center;
  font-family: 'Fira Sans', sans-serif;
 }

p.personal_interests_info{
  text-align: center;
  font-family: 'Fira Sans', sans-serif;
}

p.projects_info{
  text-align: center;
  font-family: 'Fira Sans', sans-serif;
}

#Top {
  text-align: center;
  font-family: 'Fira Sans', sans-serif;
}

#blog_to_index{
  text-align: center;
  font-family: 'Fira Sans', sans-serif;
}

